<section
    class="w-full py-20 md:py-32 flex flex-col-reverse gap-10 md:gap-0 md:flex-row px-mobileXPad lg:px-desktopXPad">

    <div class="left w-full md:w-[45%] h-full flex justify-center md:justify-start items-center">

        <div class="w-fit relative">
            <img src="about.png" class="">

            <div class="absolute right-0 bottom-0 cursor-pointer group">
                <div class="relative">
                    <i
                        class="ri-arrow-right-up-line absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-5xl group-hover:top-[47%] group-hover:left-[52%] duration-300 transition-all"></i>
                    <img src="Group 3.png" class="contactImg w-20 sm:w-24 md:w-28 lg:w-32">
                </div>
            </div>
        </div>

    </div>

    <div class="right w-full md:w-[55%] h-full flex flex-col justify-center ps-0 md:ps-5 gap-5">

        <p class="tracking-widest">ABOUT US</p>

        <h1 class="text-3xl md:text-4xl lg:text-5xl font-medium text-secondary"><span class="text-primary">15 Years of Expertise</span>
            in Dental Care</h1>

        <p class="text-paraColor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <p class="text-paraColor"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Premium Dental Services
            You Can Trust
        </p>

        <p class="text-paraColor"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Award-Winning Experts in
            Dental Care</p>
        <p class="text-paraColor"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Dedicated Experts Behined
            Every Smile</p>

        <app-button label="Learn More" class="mt-2"></app-button>

    </div>

</section>