<section class="w-full px-mobileXPad lg:px-desktopXPad py-20">

    <div class="top w-full flex flex-col md:flex-row justify-between gap-10 md:gap-0 md:items-end">

        <div class="w-full md:w-[70%] lg:w-[50%]">

            <p class="tracking-widest">FOLLOW US </p>

            <h1 class="text-3xl md:text-4xl lg:text-5xl mt-5 text-secondary font-medium">Follow Us <span
                    class="text-primary">On Instagram</span></h1>

        </div>

        <app-button label="Follow Us"></app-button>

    </div>

    <div class="bottom w-full h-full flex justify-center items-center mt-14">

        <img src="socialGroupPic.png" alt="" class="w-full">

    </div>

</section>