<section class="w-full pt-20 pb-6 px-mobileXPad lg:px-desktopXPad">

    <div class="top flex flex-col lg:flex-row gap-20">

        <div class="left w-full lg:w-[25%] space-y-8">

            <img src="logo.png" alt="" class="w-52">

            <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sit officia expedita
                numquam, unde debitis.</p>

            <div class="space-x-4 mt-2 md:mt-0">

                <a href="https://www.facebook.com/" target="_blank" class=""><i
                        class="ri-facebook-circle-fill text-xl md:text-2xl"></i></a>
                <a href="https://x.com/" target="_blank"><i class="ri-twitter-x-fill text-xl md:text-2xl"></i></a>
                <a href="https://www.pinterest.com/" target="_blank"><i
                        class="ri-pinterest-fill text-xl md:text-2xl"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i
                        class="ri-instagram-fill text-xl md:text-2xl"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i
                        class="ri-youtube-fill text-xl md:text-2xl"></i></a>

            </div>

        </div>

        <div class="right w-full lg:w-[75%] flex flex-wrap justify-between gap-10 md:gap-0">

            <!-- Company -->
            <div>
                <p class="mb-4 font-medium">Company</p>

                <div class="flex flex-col gap-2 footerLinks">
                    <a href="">About</a>
                    <a href="">Services</a>
                    <a href="">Stories</a>
                    <a href="">Dentists</a>
                    <a href="">Blog</a>
                    <a href="">Contact</a>
                </div>
            </div>

            <!-- Customer Services -->
            <div>
                <p class="mb-4 font-medium">Customer Services</p>

                <div class="flex flex-col gap-2 footerLinks">
                    <a href="">My Account</a>
                    <a href="">Track Your Order</a>
                    <a href="">Return</a>
                    <a href="">FAQ</a>
                </div>
            </div>

            <!-- Our Infoormation -->
            <div>
                <p class="mb-4 font-medium">Our Information</p>

                <div class="flex flex-col gap-2 footerLinks">
                    <a href="">Privacy</a>
                    <a href="">User Terms & Conditions</a>
                    <a href="">Return Policy</a>
                </div>
            </div>

            <!-- Contact Info -->
            <div>
                <p class="mb-4 font-medium">Contact Info</p>

                <div class="flex flex-col gap-2 footerLinks">
                    <a href="">+012-345-6789</a>
                    <a href="">example&#64;gmail.com</a>
                    <a href="">Dummy Location, <br> Dummy RD, Street 4008</a>
                </div>
            </div>

        </div>

    </div>

    <div class="bottom border-t mt-14 text-center text-sm text-gray-400 space-y-2 pt-5">

        <p>Copyright © {{currentYear}} <a href="#" class="underline text-blue-400">DentalCare</a>. All Rights Reserved</p>
        <p>Handcrafted by Syed Mohsin Ali</p>

    </div>

</section>