<header class="w-full bg-white flex justify-between items-center px-mobileXPad lg:px-desktopXPad py-3 sticky top-0 z-50 flex-col lg:flex-row">

  <!-- Top Row (Logo + Nav + Button) -->
  <div class="w-full flex justify-between items-center">
    <a href="#"><img src="logo.png" class="w-32 md:w-40 lg:w-44" alt="Logo"></a>

    <ul class="space-x-6 text-gray-700 text-base hidden lg:flex">
      <li><a href="#" class="navLink">Home</a></li>
      <li><a href="#" class="navLink">About</a></li>
      <li><a href="#" class="navLink">Services</a></li>
      <li><a href="#" class="navLink">Stories</a></li>
      <li><a href="#" class="navLink">Dentists</a></li>
      <li><a href="#" class="navLink">Blogs</a></li>
      <li><a href="#" class="navLink">Contact</a></li>
    </ul>

    <div class="flex items-center gap-3">
      <i [class]="!showHideMenu ? 'ri-menu-3-line block lg:hidden text-2xl text-gray-700' : 'ri-close-line block lg:hidden text-3xl text-red-600'" (click)="toggleMenu()"></i>
      <app-button class="hidden lg:block" label="Book Now"></app-button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="w-full h-screen bg-white px-mobileXPad lg:hidden" *ngIf="showHideMenu">
    <ul class="space-y-4 mb-4 text-lg pt-10 text-gray-700">
      <li><a href="#" class="navLink">Home</a></li>
      <li><a href="#" class="navLink">About</a></li>
      <li><a href="#" class="navLink">Services</a></li>
      <li><a href="#" class="navLink">Stories</a></li>
      <li><a href="#" class="navLink">Dentists</a></li>
      <li><a href="#" class="navLink">Blogs</a></li>
      <li><a href="#" class="navLink">Contact</a></li>
    </ul>

    <app-button label="Book Now"></app-button>
  </div>
</header>