<section class="w-full bg-primary md:flex justify-between text-white px-mobileXPad lg:px-desktopXPad py-2">

    <div class="left flex justify-between flex-wrap gap-2 lg:gap-6">

        <div class="flex items-center gap-1">
            <i class="ri-phone-fill text-sm lg:text-lg"></i>
            <p class="text-sm">(000) 000-0000</p>
        </div>

        <div class="flex items-center gap-1">
            <i class="ri-mail-fill text-sm lg:text-lg"></i>
            <p class="text-sm">dummy123&#64;gmail.com</p>
        </div>

        <div class="flex items-center gap-1">
            <i class="ri-map-pin-2-fill text-sm lg:text-lg"></i>
            <p class="text-sm">2464 Royal Ln. Mesa, New Jersey 45463</p>
        </div>

    </div>

    <div class="right space-x-2 mt-2 md:mt-0">

        <a href="https://www.facebook.com/" target="_blank"><i
                class="ri-facebook-circle-fill text-md md:text-xl"></i></a>
        <a href="https://x.com/" target="_blank"><i class="ri-twitter-x-fill text-md md:text-xl"></i></a>
        <a href="https://www.pinterest.com/" target="_blank"><i class="ri-pinterest-fill text-md md:text-xl"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="ri-instagram-fill text-md md:text-xl"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="ri-youtube-fill text-md md:text-xl"></i></a>

    </div>

</section>