<section class="w-full px-mobileXPad space-y-14 py-24 lg:px-desktopXPad">

    <div class="top flex flex-col gap-5 lg:gap-0 lg:flex-row lg:justify-between lg:items-end">

        <div class="w-full lg:w-[40%]">
            <p class="tracking-widest">BEFORE AND AFTER</p>
            <h1 class="text-3xl md:text-4xl lg:text-5xl font-medium mt-5 text-secondary">See the Difference:
                <span class="text-primary">Before & After</span>
            </h1>
        </div>

        <app-button label="View More Transformations"></app-button>

    </div>

    <div class="bottom">

        <div class="w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] flex justify-center">

            <img src="Group 8.jpg" alt="" class="w-full h-full rounded-xl">
        </div>

    </div>

</section>