<app-top-header></app-top-header>
<app-header></app-header>

<app-hero></app-hero>
<app-about></app-about>
<app-scrolling-text></app-scrolling-text>
<app-our-services></app-our-services>
<app-scrolling-text></app-scrolling-text>
<app-why-us></app-why-us>
<app-case-stories></app-case-stories>
<app-how-it-works></app-how-it-works>
<app-scrolling-text></app-scrolling-text>
<app-book-appointment></app-book-appointment>
<app-scrolling-text></app-scrolling-text>
<app-watch-video></app-watch-video>
<app-testimonials></app-testimonials>
<app-before-after></app-before-after>
<app-scrolling-text></app-scrolling-text>
<app-our-team></app-our-team>
<app-scrolling-text></app-scrolling-text>
<app-articles></app-articles>