<section class="w-full bg-secondary px-mobileXPad lg:px-desktopXPad py-20">

    <div class="top text-center flex flex-col items-center">

        <p class="tracking-widest text-white">FAQS</p>
        <h1 class="text-3xl md:text-4xl lg:text-5xl text-primary font-medium w-full lg:w-[50%] mt-5">Dental Care FAQ:
            <span class="text-white">Your
                Questions Answered</span>
        </h1>

    </div>

    <div class="bottom flex flex-col lg:flex-row mt-10">
        <div class="left w-full lg:w-[60%] xl:w-[70%] h-full lg:px-10">

            <div id="accordion-collapse" data-accordion="collapse" class="w-full mx-auto space-y-4">
                <!-- Accordion Item 1 -->
                <h2 id="accordion-collapse-heading-1">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-1" aria-expanded="false"
                        aria-controls="accordion-collapse-body-1">
                        <span>What services do you offer?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

                <!-- Accordion Item 2 -->
                <h2 id="accordion-collapse-heading-2">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                        aria-controls="accordion-collapse-body-2">
                        <span>Do you accept walk-in appointments?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

                <!-- Accordion Item 3 -->
                <h2 id="accordion-collapse-heading-3">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                        aria-controls="accordion-collapse-body-3">
                        <span>Can I book an emergency dental appointment?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

                <!-- Accordion Item 4 -->
                <h2 id="accordion-collapse-heading-4">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                        aria-controls="accordion-collapse-body-4">
                        <span>Do you offer online consultations?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

                <!-- Accordion Item 5 -->
                <h2 id="accordion-collapse-heading-5">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-5" aria-expanded="false"
                        aria-controls="accordion-collapse-body-5">
                        <span>What is the cost of a dental consultation?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

                <!-- Accordion Item 6 -->
                <h2 id="accordion-collapse-heading-6">
                    <button type="button"
                        class="flex items-center justify-between w-full p-4 font-medium !text-black !bg-white border border-b-0 rounded-xl focus:outline-none focus:ring-0 focus:!bg-white active:!bg-white aria-expanded:!bg-white aria-expanded:!text-black"
                        data-accordion-target="#accordion-collapse-body-6" aria-expanded="false"
                        aria-controls="accordion-collapse-body-6">
                        <span>What is the cost of a dental consultation?</span>
                        <i class="ri-add-fill text-2xl"></i>
                    </button>
                </h2>
                <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
                    <div class="p-4 bg-primary text-white rounded-xl mt-3">
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua eiusmod tempor incididunt ut labore..
                        </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="right w-full lg:w-[40%] xl:w-[30%] h-full">

            <div
                class="w-full bg-primary text-white rounded-xl flex flex-col justify-center items-center gap-3 lg:px-1 py-8 mt-5 lg:mt-0">
                <i class="ri-wechat-fill text-7xl"></i>
                <h3 class="font-medium">You have different questions?</h3>
                <p class="text-gray-300 text-center">Our team will answer all your questions.
                    We ensure a quick response.</p>

                <button class="bg-white px-5 py-3 mt-4 rounded-full text-primary text-sm font-medium">Contact
                    Us</button>
            </div>

            <div class="w-[100%] bg-white flex items-center gap-5 px-4 md:px-7 py-5 rounded-xl mt-10">

                <i class="ri-phone-line text-4xl bg-primary text-white p-2 rounded-full"></i>

                <div class="space-y-1">
                    <p class="text-sm text-paraColor">Your Smile, Our Priority</p>
                    <h2 class="text-xl md:text-2xl font-medium">24/7 Emergency</h2>
                    <p class="text-sm text-paraColor">(000) 000-0000</p>
                </div>

            </div>
        </div>
    </div>

</section>