<div class="w-full bg-primary py-4 flex whitespace-nowrap gap-36 overflow-x-hidden">

    <p class="animText text-white text-md md:text-lg lg:text-xl flex items-center gap-10"><img src="tooth-outline.png" class="w-6 md:w-8"> General
        Dentistry <img src="tooth-outline.png" class="w-6 md:w-8"> Teeth Whitening <img src="tooth-outline.png" class="w-6 md:w-8">
        Dental Implants <img src="tooth-outline.png" class="w-6 md:w-8"> Dental Sealants</p>
    <p class="animText text-white text-md md:text-lg lg:text-xl flex items-center gap-10"><img src="tooth-outline.png" class="w-6 md:w-8"> General
        Dentistry <img src="tooth-outline.png" class="w-6 md:w-8"> Teeth Whitening <img src="tooth-outline.png" class="w-6 md:w-8">
        Dental Implants <img src="tooth-outline.png" class="w-6 md:w-8"> Dental Sealants</p>
    <p class="animText text-white text-md md:text-lg lg:text-xl flex items-center gap-10"><img src="tooth-outline.png" class="w-6 md:w-8"> General
        Dentistry <img src="tooth-outline.png" class="w-6 md:w-8"> Teeth Whitening <img src="tooth-outline.png" class="w-6 md:w-8">
        Dental Implants <img src="tooth-outline.png" class="w-6 md:w-8"> Dental Sealants</p>
    <p class="animText text-white text-md md:text-lg lg:text-xl flex items-center gap-10"><img src="tooth-outline.png" class="w-6 md:w-8"> General
        Dentistry <img src="tooth-outline.png" class="w-6 md:w-8"> Teeth Whitening <img src="tooth-outline.png" class="w-6 md:w-8">
        Dental Implants <img src="tooth-outline.png" class="w-6 md:w-8"> Dental Sealants</p>
    
</div>
