.animText {

    animation: textAnim 20s linear infinite alternate;

}

@keyframes textAnim {

    0% {
        transform: translateX(0%);
    }

    100% {

        transform: translateX(-100%);
    }

}