<section class="w-full py-20 px-mobileXPad lg:px-desktopXPad">

    <div class="top w-full h-[30%] flex flex-col items-center text-center space-y-4">

        <p class="tracking-widest">WHY CHOSE US</p>

        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl w-full md:w-[80%] lg:w-[70%] font-medium text-secondary">Benefits of Our Dental Services:
            <span class="text-primary">Your Path to a Healthier Smile</span>
        </h1>

    </div>

    <div class="bottom w-full h-[70%] flex flex-col md:flex-row gap-20 lg:gap-0 pt-16">

        <div class="left w-full lg:w-1/2 h-full">

            <img src="why us.png" alt="" class="w-full sm:w-[90%] md:w-[85%] lg:w-[80%]">

        </div>

        <div class="right w-full lg:w-1/2 h-full flex flex-col gap-10">

            <p class="text-paraColor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                elusmod tempor incididunt ut labore et dolore.
            </p>

            <div class="flex flex-col lg:flex-row justify-between border-t border-b p-2 gap-5 lg:gap-0 text-secondary">
                <div class="flex justify-between items-center md:items-start lg:flex-col">
                    <h1 class="text-3xl lg:text-4xl font-medium mb-0 lg:mb-2">10+</h1>
                    <p class="text-paraColor">Skilled Doctors</p>
                </div>

                <div class="border-t border-b lg:border-t-0 lg:border-b-0 lg:border-l lg:border-r lg:px-8 py-2 lg:py-0 flex justify-between items-center md:items-start lg:flex-col">
                    <h1 class="text-3xl lg:text-4xl font-medium mb-2">99%</h1>
                    <p class="text-paraColor">Patient Satisfaction</p>
                </div>

                <div class="flex justify-between items-center md:items-start lg:flex-col">
                    <h1 class="text-3xl lg:text-4xl font-medium mb-2">20K+</h1>
                    <p class="text-paraColor">Appointment Booked</p>
                </div>
            </div>

            <div class="space-y-4">
                <p class="text-paraColor"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Easy Online
                    Appointment Booking</p>

                <p class="text-paraColor"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Experienced and
                    Caring Dentists</p>
                <p class="text-paraColor mb-20"><i class="ri-checkbox-circle-fill text-xl text-primary"></i> Advanced
                    Dental
                    Equipment</p>

            </div>

            <app-button label="Book an Appointment" class="mt-2"></app-button>
        </div>


    </div>

</section>