<section class="w-full px-mobileXPad lg:px-desktopXPad py-20">

    <div class="top w-full text-center space-y-4">

        <p class="tracking-widest">HOW IT WORKS</p>

        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl">The Path to <span class="text-primary">Your Perfect
                Smile</span></h1>

    </div>

    <div
        class="bottom w-full flex flex-wrap justify-center lg:justify-between items-center lg:items-start gap-10 lg:gap-0 pt-20">

        <!-- 1 -->

        <div class="box w-44 flex flex-col justify-center items-center text-center">
            <div class="w-16 h-16 flex justify-center items-center bg-primary rounded-full relative">
                <i class="ri-calendar-2-fill text-3xl text-white"></i>

                <div
                    class="w-7 h-7 border-2 text-sm border-white flex justify-center items-center text-white rounded-full bg-secondary absolute -right-4">
                    <span>01</span>
                </div>
            </div>

            <h3 class="text-md font-medium text-secondary mt-4 mb-2">Book Your
                Appointment</h3>

            <p class="text-sm text-paraColor">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit</p>

        </div>

        <div class="line w-24 h-0.5 bg-secondary mt-8 hidden lg:block"></div>


        <!-- 2 -->

        <div class="box w-44 flex flex-col justify-center items-center text-center">
            <div class="w-16 h-16 flex justify-center items-center bg-primary rounded-full relative">
                <i class="ri-group-fill text-3xl text-white"></i>

                <div
                    class="w-7 h-7 border-2 text-sm border-white flex justify-center items-center text-white rounded-full bg-secondary absolute -right-4">
                    <span>02</span>
                </div>
            </div>

            <h3 class="text-md font-medium text-secondary mt-4 mb-2">Consultation &
                Examination</h3>

            <p class="text-sm text-paraColor">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit</p>

        </div>

        <div class="line w-24 h-0.5 bg-secondary mt-8 hidden lg:block"></div>


        <!-- 3 -->

        <div class="box w-44 flex flex-col justify-center items-center text-center">
            <div class="w-16 h-16 flex justify-center items-center bg-primary rounded-full relative">
                <i class="ri-clipboard-fill text-3xl text-white"></i>

                <div
                    class="w-7 h-7 border-2 text-sm border-white flex justify-center items-center text-white rounded-full bg-secondary absolute -right-4">
                    <span>03</span>
                </div>
            </div>

            <h3 class="text-md font-medium text-secondary mt-4 mb-2">Personalized
                Treatment Plan</h3>

            <p class="text-sm text-paraColor">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit</p>

        </div>

        <div class="line w-24 h-0.5 bg-secondary mt-8 hidden lg:block"></div>


        <!-- 4 -->

        <div class="box w-44 flex flex-col justify-center items-center text-center">
            <div class="w-16 h-16 flex justify-center items-center bg-primary rounded-full relative">
                <i class="ri-briefcase-4-fill text-3xl text-white"></i>

                <div
                    class="w-7 h-7 border-2 text-sm border-white flex justify-center items-center text-white rounded-full bg-secondary absolute -right-4">
                    <span>04</span>
                </div>
            </div>

            <h3 class="text-md font-medium text-secondary mt-4 mb-2">Ongoing Care &
                Follow-Up
            </h3>

            <p class="text-sm text-paraColor">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit</p>

        </div>


    </div>

</section>