<section class="w-full bg-[#f6f6f6] py-14 px-mobileXPad lg:px-desktopXPad">

    <div class="top text-center flex flex-col items-center">

        <p class="tracking-widest">OUR NEWSLETTER</p>
        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-secondary font-medium w-full lg:w-[80%] mt-5">Subscribe to Our
            Newsletter for
            the <span class="text-primary">Latest Updates and Offers</span>
        </h1>

    </div>

    <div class="bottom w-full flex flex-col sm:flex-row justify-center gap-4 mt-10">

        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center justify-center ps-2 pointer-events-none">

                <div class="bg-primary w-8 h-8 rounded-full flex justify-center items-center">
                    
                    <i class="ri-mail-fill text-white text-lg"></i>
                </div>
            </div>
            <input type="text" id="input-group-1"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 block w-full sm:w-96 ps-14 p-2.5"
                placeholder="Enter Email Address">
        </div>

        <app-button label="Subscribe"></app-button>

    </div>

</section>